:root {
  --jet: #353531;
  --onyx: #444140;
  --walnut: #726953;
  --gray: #76777f;
  --dogwood: #cdaca1;
  --sage: #d2cda2;
  --timberwolf: #dad3d2;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inter Tight', 'Arial', san-serif;
  background: var(--timberwolf);
  display: grid;
  grid-template-areas:
    "a a a a a"
    "b b b b b"
    "c c d d d"
    "e e e e e";
  color: var(--onyx);
}

header {
  grid-area: a;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--onyx);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--onyx);
}

a:hover {
  color: var(--walnut);
}

button {
  border: 1px solid transparent;
  font-size: .85em;
  font-weight: 500;
  background-color: var(--dogwood);
  color: var(--jet);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.55rem 1rem;
  border-radius: 0.25rem;
  margin: 1rem;
}

button:hover {
  border-color: var(--jet);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
select,
textarea {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid var(--jet);
  border-radius: 0.25rem;
  resize: vertical;
}

.title {
  font-size: 3rem;
  font-weight: 300;
}

a {
  color: var(--onyx);
  text-decoration: none;
}

a:hover {
  color: var(--walnut);
}

.game-stats {
  width: 90vw;
  margin: 0 auto;
  grid-area: b;
  display: grid;
  grid-template-areas:
    "f g";
  grid-template-columns: 1fr 1fr;
}

.player-stats {
  grid-area: f;
}

.rivals-stats {
  grid-area: g;
  text-align: center;
}



.images {
  display: grid;
  grid-template-areas:
    "a b";
}


.name-section {
  display: flex;
  justify-content: space-between;
}

.all-rivals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
}

.player-name-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.rival {
  border: 2px solid var(--gray);
  background-color: var(--sage);
  display: flex;
  justify-content: space-around;
  height: 6em;
  margin: 1rem;
}

.instructions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 4rem;

}

.tips {
  margin-bottom: 1rem;
  text-decoration: underline;

}

.game-over {
  transform: rotate(90deg);
}